* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav .logo a {
  color: #587C83;
  text-decoration: none;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}
nav ul li {
  padding: 10px;
  text-decoration: none;
  list-style-type: none;
}
nav ul a {
  text-decoration: none;
  color: #587C83;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: red;
}
