* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: segoeuiRegular;
  src: url(../assets/fonts/segoeui.ttf);
}
@font-face {
  font-family: segoeuiBold;
  src: url(../assets/fonts/segoeuib.ttf);
}
nav {
  background-color: white;
  width: 100%;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav .logo-container {
  width: 50%;
}
nav .logo-container .logo {
  width: 50%;
  padding-left: 20px;
}
nav .logo-container .logo .logo-img {
  width: 73px;
  height: 73px;
}
nav .logo-container .logo a {
  width: 201px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #587C83;
  text-decoration: none;
  color: #707070;
}
nav .logo-container .logo a .logo-title {
  color: black;
  font-size: 16px;
  font-family: segoeuiRegular;
}
nav .search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
nav .search-container .searchBar {
  width: 85%;
  height: 40px;
  background-color: rgba(88, 124, 131, 0.6);
  border: #707070;
  padding: 7px;
}
nav .search-container .searchBar .fa-solid {
  color: rgba(88, 124, 131, 0.6);
  font-size: 20px;
}
nav .search-container .searchBar #searchBar {
  width: 58px;
  height: 45px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  font-family: segoeuiRegular;
}
nav .links {
  width: 100%;
}
nav .links ul {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}
nav .links ul img {
  width: 40px;
}
nav .links ul li {
  padding: 10px;
  text-decoration: none;
  list-style-type: none;
}
nav .links ul a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: segoeuiRegular;
}

.nav-border {
  border: none;
  border-top: 1px solid black;
  width: 100%;
}

.footer-container {
  width: 100%;
  height: 92px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #587C83;
}
.footer-container .copyright-text {
  width: 20%;
  font-size: 16px;
  font-family: segoeuiRegular;
  color: white;
}
.footer-container .footer-links {
  width: 20%;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-container .footer-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: segoeuiRegular;
}
.footer-container .footer-icons {
  width: 10%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-container .footer-icons .fa-square-facebook {
  color: white;
  font-size: 24px;
}
.footer-container .footer-icons .fa-instagram {
  color: white;
  font-size: 24px;
}
.footer-container .footer-icons .fa-twitter {
  color: white;
  font-size: 24px;
}

#bookDiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#bookDiv .book {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#bookDiv .book h4 {
  font-size: 12px;
  font-family: segoeuiRegular;
  font-weight: normal;
}
#bookDiv .book p {
  font-size: 14px;
  font-family: segoeuiBold;
}

.squareImg {
  width: 100px;
}

.rectangleImg {
  max-width: 100px;
  max-height: 100px;
}

.home-banner-img-container {
  width: 85%;
  padding-top: 80px;
  padding-bottom: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-banner-img-container .home-banner-img {
  position: relative;
  background: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url(../assets/img/home-hero\ \(1\).jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1500px;
  height: 370px;
}
.home-banner-img-container .home-banner-img .banner-text-container {
  position: absolute;
  left: 70%;
  top: 35%;
}
.home-banner-img-container .home-banner-img .banner-text-container .banner-text1 {
  font-size: 18px;
  font-family: segoeuiBold;
  color: white;
}
.home-banner-img-container .home-banner-img .banner-text-container .banner-text2 {
  font-size: 10px;
  font-family: segoeuiRegular;
  color: white;
  margin-top: 3px;
}

.about-section {
  width: 100%;
}
.about-section .about-section-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-section .about-section-container .about-img-container {
  margin-top: 100px;
  width: 23%;
}
.about-section .about-section-container .about-img-container .about-img {
  background-image: url(../assets/img/about-photo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 398px;
}
.about-section .about-section-container .about-img-container .about-img2 {
  background-image: url(../assets/img/about-photo-two.jpg);
}

.about-info-container {
  width: 65%;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-info-container .about-title {
  font-size: 20px;
  font-family: segoeuiBold;
  margin-bottom: 20px;
}
.about-info-container .about-mini-title {
  font-size: 15px;
  font-family: segoeuiBold;
  margin-bottom: 30px;
}
.about-info-container .about-text {
  font-size: 12px;
  font-family: segoeuiRegular;
  font-weight: bold;
  text-align: left;
  width: 98%;
  height: 120px;
  margin-bottom: 30px;
}

.blog-maincontainer .blog-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  background-color: #587C83;
  height: 320px;
  margin: auto;
  margin-top: 80px;
}
.blog-maincontainer .blog-box .first-blog-img-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
.blog-maincontainer .blog-box .first-blog-img-container .blogbook-img-one-container {
  width: 45%;
}
.blog-maincontainer .blog-box .first-blog-img-container .blogbook-img-one-container .blogbook-img-one {
  background-image: url(../assets/img/books/becoming.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
}
.blog-maincontainer .blog-box .first-blog-img-container .blogbook-img-one-container .blogimg-two {
  background-image: url(../assets/img/books/finding\ me.jpg);
}
.blog-maincontainer .blog-box .second-blog-img-container {
  width: 50%;
  height: 320px;
}
.blog-maincontainer .blog-box .second-blog-img-container .blog-book2-container .bloogbook-two {
  background-image: url(../assets/img/open-book-blog.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 320px;
}
.blog-maincontainer .blog-box .second-blog-img-container .blog-book2-container .bloogthree {
  background-image: url(../assets/img/ereading-blog.jpg);
}
.blog-maincontainer .blog-text-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  min-height: 300px;
}
.blog-maincontainer .blog-text-container .blog-title {
  font-size: 18px;
  font-family: segoeuiBold;
  color: white;
  margin-top: 20px;
}
.blog-maincontainer .blog-text-container .blog-text {
  font-size: 12px;
  font-family: segoeuiRegular;
  color: white;
  width: 60%;
  height: 80px;
  text-align: center;
}
.blog-maincontainer .blog-text-container .blog-btn {
  width: 30%;
  height: 50px;
  background-color: #587C83;
  border: white solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-family: segoeuiRegular;
  color: white;
  cursor: pointer;
}

.blog-box2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.account-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.account-container .login-box {
  margin-top: 85px;
  width: 50%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.account-container .login-box .signup-question {
  font-family: segoeuiRegular;
  font-size: 11px;
}
.account-container .login-box .login-heading {
  font-family: segoeuiRegular;
  font-size: 16px;
  margin-bottom: 25px;
}
.account-container .login-box input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  font-family: segoeuiRegular;
  font-size: 10px;
  width: 25%;
  margin-bottom: 20px;
}
.account-container .login-box .login-btn {
  width: 18%;
  height: 28px;
  background-color: #587C83;
  color: white;
  font-family: segoeuiRegular;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  cursor: pointer;
}
