.about-section{

    width: 100%;


    .about-section-container{

display: flex;
align-items: center;
justify-content: space-around;
//background-color: red;

        .about-img-container{
            margin-top: 100px;
           // padding-left: 30px;
width: 23%;
            .about-img{
                background-image: url(../assets/img/about-photo.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

height: 398px;
            }

            
        .about-img2{
            background-image: url(../assets/img/about-photo-two.jpg);
        }
        }
   

       

    }
}

.about-info-container{

width: 65%;
margin-bottom: 70px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

    .about-title{
        font-size: 20px;
        font-family: segoeuiBold;
margin-bottom: 20px;
//background-color: aqua;            
    }

    .about-mini-title{
        font-size: 15px;
        font-family: segoeuiBold ;
    margin-bottom: 30px;
    }

    .about-text{
        font-size: 12px;
            font-family: segoeuiRegular ;
            font-weight: bold;
            text-align: left;
            width: 98%;
            height: 120px;
            
            
         margin-bottom: 30px;
        
        
    }
}



//media query for ipad 
@media screen and (max-width: 768px) {

    .about-section .about-section-container{
        
width: 100%;

    }

    .about-section .about-section-container .about-img-container
    {
        padding: 15px;
        width: 40%;
        height: 350px;
    }

    
    .about-info-container .about-title{

   
    font-size: 12px;
}

.about-info-container .about-mini-title{
  
    font-size: 8px;
}


.about-info-container  .about-text{
font-size: 11px;
text-align: center;
}

}


@media screen and (max-width: 600px) {
    .about-section-container .about-img-container {
       

    }

    /* Apply scale to resize the image */
    .about-section-container .about-img {
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 50px;
        transform: scale(0.6);
    }

    .about-info-container {
        width: 40%;
       
    }

    .about-info-container .about-title,
    .about-info-container .about-mini-title,
    .about-info-container .about-text {
        font-size: 6px;
        text-align: center;
    }
}

