.account-container{
    width: 100%;
display: flex;
align-items: center;
justify-content: space-around;

    .login-box{
        margin-top: 85px;
.signup-question{
    font-family: segoeuiRegular;
    font-size: 11px;
}
      
        width: 50%;
        min-height: 100px;
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: column;
.login-heading{
    font-family: segoeuiRegular;
    font-size: 16px;
    margin-bottom: 25px;
}



    input[type=text] {
        background: transparent;
        border: none;
        border-bottom: 1px solid #000000;
        font-family: segoeuiRegular;
    font-size: 10px;
   width: 25%;
   margin-bottom: 20px;
    
    

    
}

.login-btn{
    width: 18%;
    height: 28px;
    background-color: $siteBlue;
    color: white;
    font-family: segoeuiRegular;
    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    cursor: pointer;
    border: none;
   
    
}


    }
}