.blogone-container{

    width: 100%;
background-color: red;
    .blogone-banner-box{
width: 100%;

.blogone-bannerimg{
    background: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), 
    url(../assets/img/books/mlk-biography.jpg);
    background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     height: 320px;
     width: 80%;
}

    }


}

h1{
    background-color: indianred;
}