.blogone-container{

    max-width: 100%;

  .blogtwo-banner-box{
    
    margin: 0 auto;
    width: 95%;
min-height: 100px;
display: flex;
align-items: center;
justify-content: center;
margin-top: 60px;
//background-color: indianred;
    




    .blogtwo-bannerimg {
      
        background: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), 
        url(../assets/img/book-club-hero.jpg);
        background-size: cover;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 320px;
        width: 80%;
       
        
      

    
    .blogtwo-bannertextbox{

        width: 100%;
        min-height: 150px;
       // background-color: red;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
      margin-top: 60px;
        .blogtwoheader{
            font-size: 18px;
            font-family: segoeuiBold ;
            color: white;
            
        }

        .blogtwomini-header{
            font-size: 13px;
            font-family: segoeuiBold;
            color: white;
        }




    }

  

}


.blogthree-bannerimg{
      
    background: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), 
    url(../assets/img/eread-hero.jpg);
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  
}


  
  }



.blog2-section2{
  
margin: auto;
    width: 90%;
   // background-color: aliceblue;
display: flex;
margin-top: 80px;

    .blog2-img-container{
    
        width: 60%;
        //background-color: red;
        margin-left: 88px;
.blog2-img{
    background-image: url(../assets/img/open-book-blog.jpg);
    background-size: cover;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    width: 95%;
    height: 280px;
    border: solid 1px $siteGrey;
    
}


.blog3-img{
    background-image: url(../assets/img/ereading-blog.jpg);
}


    }

.blog2-textContainer{

width: 100%;
//background-color: pink;

    .blog2text{
        width: 100%;


font-family: segoeuiRegular ;
font-size: 11px;

margin-bottom: 18px;
    }
}

}


}

